<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>

<body>
    <h1>Shopping Cart</h1>
    <h3>Death note</h3>
    <p>Price: $100.00</p>
    <p>Quantity: 1</p>
    <br />
    <h3>Die with a smile</h3>
    <p>Price: $50.00</p>
    <p>Quantity: 1</p>

    <form action="/checkout" method="post">
        <input type="submit" value="Proceed to checkout">
    </form>
</body>

</html>